<h1>Editar Livro de Usuário</h1>

  <div class="fotoX">
		<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRrR-OlNjr-gDkyHeRUqqazBpHL_k8pUXpjlC3aBmdIpQsxsRASLA" 
			width="400"
			height="250"
			alt="Sebo OnlineX" 
			title="Sebo OnlineX"/>
  </div> 

<%= render 'form' %>

<p id="botao"><%= link_to 'Voltar', usersbooks_path %></p>
