<h1>Novo Livro de Usuário</h1>

  <div class="fotoX">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfuCbZ3KPF-0YbMoH7dFxah9orS2mSWob19IwZvJH7JOIGYbzRFw" 
			width="500"
			height="400"
			alt="Sebo OnlineX" 
			title="Sebo OnlineX"/>
  </div> 

<%= render 'form' %>

<p id="botao"><%= link_to 'Voltar', usersbooks_path %></p>
