<h1>Editar Troca de Livros</h1>

  <div class="fotoX">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyJuvF7q59A9mqpMRTDAYqFc0cLdF-Q34rydBfShvpkgkAAEIt" 
			width="400"
			height="250"
			alt="Sebo OnlineX" 
			title="Sebo OnlineX"/>
  </div> 

<%= render 'form' %>

<p  id="botao"><%= link_to 'Voltar', users_exchanges_path %> </p>
