<h1>Nova Troca de Livros</h1>

  <div class="fotoX">
		<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS2AwKsXimvGzZ_va9ABpYk61MtZu1g-rDacFIh2lzs0hufPon6wA" 
			width="500"
			height="400"
			alt="Sebo OnlineX" 
			title="Sebo OnlineX"/>
  </div> 

<%= render 'form' %>

<p id="botao"><%= link_to 'Voltar', users_exchanges_path %></p>
