<h1>Sebo Online</h1>
<p><%= link_to "Usuários", users_path %></p>
<p><%= link_to "Livros", books_path %></p>
<p><%= link_to "Livros de Usuários", usersbooks_path %></p>
<p><%= link_to "Troca de Livros", users_exchanges_path %></p>
