<!DOCTYPE html>
<html>

<head>

	<div class="foto1">
			<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSlIWXD7aR4WhKlzCped_yzNi6sqJZ9gGZfrPyyazcLiyGLoEFxkA" 
				width="250"
				height="150"
				alt="Sebo Online1" 
				title="Sebo Online1"/>
	</div> 

	<h1 style="letter-spacing: 1em">Sebo Online</h1>

</head>

<body style="background-color: burlywood">

  <div id="user_nav">
     <% if user_signed_in? %>
	   	<p><%= link_to "Usuários", users_path %></p>
		<p><%= link_to "Livros", books_path %></p>
		<p><%= link_to "Livros de Usuários", usersbooks_path %></p>
		<p><%= link_to "Troca de Livros", users_exchanges_path %></p>
     <% end %>  
   </div>

	<div class="foto2">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUCogyAwoWd6Ep9Q7tvOIO2XZ_kxBXWmGKzQ7XPdfRqQO6rO1quw" 
			alt="Sebo Online 2" 
			title="Sebo Online 2"/>
	</div> 

	<div class="foto4">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwKXqUjd3biwZeqWBYY0NwlHwF0xw6hHcvhlpRMDQd2U13LkcRbw" 
			alt="Sebo Online 4" 
			title="Sebo Online 4"/>
	</div> 

	<div class="foto3">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4s2za0AVMby3f_gfdZDcey2vItT7Uo4-Sl4K4zXVS4PNZkKqtBg" 
			alt="Sebo Online 3" 
			title="Sebo Online 3"/>
	</div> 
</body>
</html>
