<h1>Editar Livros</h1>

  <div class="fotoX">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3YeCHfYGs2jefMjwZNGpsu0ojtPHLmt1yuyt97qcRtNoLVH0G" 
			width="400"
			height="250"
			alt="Sebo OnlineX" 
			title="Sebo OnlineX"/>
  </div> 

<%= render 'form' %>

<p id="botao"><%= link_to 'Voltar', books_path %></p>
