// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	color: white;
	text-align: center;
	background-color: chocolate;
	border-style: dotted;
	border-color: white;
	border-size: 4px;
	padding: 50px;
	font-family: verdana;	
	font-size: 35px;
}

.foto{
	float: left;
	margin-top: 30px;
	width: 800;
	height: 250;
	border: 5;  
}

.foto2{
	position: absolute;
	top: 200px;
	right: 50px;
	width: 800;
	height: 250;
	border: 5;  
}

.foto3{
	position: absolute;
	top: 250px;
	right: 300px;
	width: 800;
	height: 250;
	border: 5;  
}

.foto4{
	position: absolute;
	top: 200px;
	right: 450px;
	width: 800;
	height: 250;
	border: 5;  
}

ul
{
	list-style-type: none;
	border: 1px solid blue;
	padding: 0;
	width: 100px;
}



li
{
	padding-left: 10px;
	padding-top: 0;
	margin: 1px;
	background-color: blue;
}

p
{	
	height: 15px;
	width: 200px;
	padding: 15px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
	font-size: 2px;
	color: white;
	background: chocolate;
	cursor: pointer;
}

p:hover
{
	color: brown;
	background-color: white;
	text-decoration: italic;
}

p:visited
{
	color: burlywood;
}

p:active
{
	color: brown;
}

#cssmenu {
	width: 100%;
	height: 27px;
	margin: 0;
	padding: 0;
	background: #000000 url(images/bg-bubplastic.gif) top left repeat-x;
}
#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#cssmenu ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url(images/bg-bubplastic-button.gif) top left no-repeat;
}

#cssmenu ul li a {
	display: block;
	height: 27px;
	padding-left: 35px;
	float: left;
	text-transform: uppercase;
	font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	text-decoration: none;
}

#cssmenu ul li a span {
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 35px;
	background: transparent url(images/bg-bubplastic-button.gif) top right no-repeat;
	cursor: pointer;
}


#cssmenu ul li a:hover,
#cssmenu ul li.active a {
	background: transparent url(images/bg-bubplastic-h-red.gif) top left no-repeat;
}
#cssmenu ul li a:hover span,
#cssmenu ul li.active a span {
	background: transparent url(images/bg-bubplastic-h-red.gif) top right no-repeat;
}

