// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	color: white;
	text-align: center;
	background-color: chocolate;
	border-style: dotted;
	border-color: white;
	border-size: 4px;
	padding: 50px;
	font-family: verdana;	
	font-size: 35px;
}

h1:hover{
	text-shadow:0 0 0.2em #F87, 0 0 0.2em #F87;
	box-shadow: 0 0 10px chocolate;
}

#user{
	text-transform: capitalize;
	color: chocolate;
}

#msg{
	float: right;
	text-decoration: bold;
	background-color: transparent;
	padding: 0;
	color: chocolate;
}

.foto1{
	float: left;
	margin-top: 20px;
	border-style: solid;
	border-color: chocolate;
	border-size: 4px;
}

.foto1:hover{
   cursor: pointer;
   box-shadow: 0 0 10px chocolate;
}

.foto2{
	position: absolute;
	top: 200px;
	right: 50px;
	width: 800;
	height: 250;
	border: 5;  
}

.foto2:hover{
   cursor: pointer;
   box-shadow: 0 0 10px chocolate;
}


.foto3{
	position: absolute;
	top: 250px;
	right: 300px;
	width: 800;
	height: 250;
	border: 5;  
}

.foto3:hover{
   cursor: pointer;
   box-shadow: 0 0 10px chocolate;
}

.foto4{
	position: absolute;
	top: 200px;
	right: 450px;
	width: 800;
	height: 250;
	border: 5;  
}

.foto4:hover{
   cursor: pointer;
   box-shadow: 0 0 10px chocolate;
}

.fotoX{
	position: absolute;
	top: 210px;
	right: 50px;
	border: 5;  
}

.fotoX:hover{
   cursor: pointer;
   box-shadow: 0 0 10px chocolate;
}

ul
{
	list-style-type: none;
	border: 1px solid brown;
	padding: 10px;
	width: 100px;
}

li
{
	padding-left: 10px;
	padding-top: 0;
	margin: 2px solid brown;
	background-color: white;
}

p
{	
	height: 15px;
	width: 200px;
	padding: 15px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
	font-size: 2px;
	color: white;
	background: chocolate;
	cursor: pointer;
}

#link{
	float: right;
	border: 1px solid brown;
	width: 15em;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
	font-size: 10px;
	color: chocolate;
	background: blanchedalmond;
	cursor: pointer;
}

p:link
{
	color: white;
	background: chocolate;
	cursor: pointer;
}

p:visited
{
	color: burlywood;
}

p:hover
{
	color: brown;
	background-color: white;
    box-shadow: 0 0 10px chocolate;
}

p:active
{
	color: brown;
}

table{
	float: right;
	width: 75%;
	border: 2px solid brown;
	background-color: white;
	color: brown;
}

table:hover{
   cursor: pointer;
   box-shadow: 0 0 10px chocolate;
}

td{
	color: chocolate;
	background-color: khaki;
	font-size: 2px;
	text-align: center;
}

#label1{
	color: chocolate;
	background-color: beige;
	font-size: 15px;
	width: 30em;
	padding: 15px;
}

#label2{
	color: chocolate;
	background-color: blanchedalmond;
	font-size: 15px;
	width: 30em;
	padding: 15px;
}

.field{
	color: chocolate;
	background-color: khaki;
	font-size: 20px;
	padding:15px;
	width: 20em;
	text-align: left;
}

#botao{
	color: chocolate;
	background-color: beige;
	font-size: 10px;
	padding: 10px;
	width: 10em;
	text-align: center;
	cursor: pointer;
	border: 1px solid brown;
}

#cssmenu {
	width: 100%;
	height: 27px;
	margin: 0;
	padding: 0;
	background: #000000 url(images/bg-bubplastic.gif) top left repeat-x;
}
#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#cssmenu ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url(images/bg-bubplastic-button.gif) top left no-repeat;
}

#cssmenu ul li a {
	display: block;
	height: 27px;
	padding-left: 35px;
	float: left;
	text-transform: uppercase;
	font-family: 'Helvetica Neue',helvetica,'microsoft sans serif',arial,sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	text-decoration: none;
}

#cssmenu ul li a span {
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 35px;
	background: transparent url(images/bg-bubplastic-button.gif) top right no-repeat;
	cursor: pointer;
}


#cssmenu ul li a:hover,
#cssmenu ul li.active a {
	background: transparent url(images/bg-bubplastic-h-red.gif) top left no-repeat;
}
#cssmenu ul li a:hover span,
#cssmenu ul li.active a span {
	background: transparent url(images/bg-bubplastic-h-red.gif) top right no-repeat;
}